[2020-02-20 10:19] pratius opened #1 "Linking failed with React Native. infobip-mobile-messaging-react-native-plugin.podspec file is not installing"
Hi,

We are trying to integrate this Plugin to the React Native project. but always throwing the attached exception. Below code to initialize push notification with application code.
[code]

Can you please share the POC/Example for React Native app?
And also, Let's know how to link with React Native.

Thanks,
![Simulator Screen Shot - iPhone 11 - 2020-02-20 at 14 15 06](https://user-images.githubu

[2020-02-20 16:21] nsustavov commented on #1
Hi @pratius

As it is said in [readme](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/README.md) Infobip ReactNative plugin is still in development.

Our approx date of release mid of March. We will notify you in this thread on public release.

[2020-03-04 13:33] #1 closed

[2020-03-05 14:44] tjuric commented on #1
Hi @pratius,
As you might've already seen, yesterday we've released initial version [1.0.0](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/1.0.0) of our React Native plugin.
Quick start guide might be found in [readme](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/README.md) file and other guidelines on the usage can be found on project's

[2020-03-17 12:06] pratius commented on #1
Hi Tereza,

Thank you for RN Plugin.

I have implemented the below code to insert user information on the Infobip portal. But always inserting unexpected information on Portal and Push notification is not working.

 **Requirement**
 We want to register an email address on the portal. Because as per our requirements sending to push notification on phone, we are using user email Id and push ID.
 But

[2020-03-18 05:37] pratius opened #2 "Push notifications is not working in React Native"
Hi,

Thank you for RN Plugin.

I have implemented the below code to insert user information on the Infobip portal. But always inserting unexpected information on Portal and Push notification is not working.

Requirement
We want to register an email address on the portal. Because as per our requirements sending to push notification on phone, we are using user email Id and push ID.
But in React Nati

[2020-03-18 09:37] tjuric commented on #2
Hi @pratius,
it doesn’t sound like a technical question related just to this plugin, but business question about functioning of our services.

You should contact our support on push.support@infobip.com. If they verify that all is fine with business setup, we can come back to this thread.

BR,
Tereza

[2020-03-18 09:37] #2 closed

[2020-03-18 17:33] riskpp commented on #2
Hi @pratius,
We've released new plugin version with fix of saving `emails` and `phones` using `saveUser` method.
But note that for the saving phone and email we have more suitable method `personalize`, docs you can find here:
https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Users-and-installations#personalization-phone-numbers-emails-and-external-user-id

Feel free to contact o

[2020-03-19 11:20] pratius commented on #2
Hi @tjuric ,

Thank you for the response.

I have updated the NPM and Pods files, SDK initialization is working fine. But while saving/personalize user information, we are getting the below exceptions.

                                                 **Implimention for push notification**

**Initilizating on didFinishLaunchingWithOptions:**
 ` [MobileMessagingPluginApplicationDelegate install];`

[2020-03-19 13:36] riskpp commented on #2
Hi @pratius,
Could you please check what is mentioned here?
https://github.com/infobip/mobile-messaging-sdk-ios/wiki/I-don't-receive-push-notifications

BR,
Olga

[2020-03-21 17:37] pratius commented on #2
Hi @riskpp,

Thank you for quick support.
 Notification is working fine, But somehow not getting notification while App in foreground iOS.

Thanks,
Praitus Dubey

[2020-03-23 08:17] riskpp commented on #2
Hi @pratius,
What do you mean "not getting notification while App in foreground iOS"?
You didn't received "messageReceived" event (https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Events) ?
Note, that you will not see notification alert, while app is in the foreground, if you didn't implemented it on received "messageReceived" event.
However, you could send In-App notification

[2020-03-25 09:29] pratius commented on #2
Hi @riskpp  ,

Thanks, this very useful.

Now We are facing the intermittent issues below.

**>  { description: 'The application instance is not registered on the server yet. The registration will be perfomed eventually. Subscribe to the notification `MMRegistrationUpdated` to be notified as the registration succeeded.',

Can you please help us?

Thanks,
Pratius

[2020-03-26 06:40] riskpp commented on #2
Assisting with integration continued by emails from support@infobip.com.

[2020-06-18 09:35] alamataffan opened #3 "How can use this library in IOS without adding use_framework!"
My other react natives libraries are getting conflict if i use use_framework!
is there any  work around without using use_framework! in pod file ?

[2020-06-23 07:22] ARazaAnjum opened #4 "On android when app is killed/closed, library events are not triggering"
Below I've pasted my snippet for initializing the SDK and registering the notificationTapped event.
SDK is initializing properly and device is also getting register on infobip portal.
When sending the push from portal and receiving on android device, after tapping the notification
**notificationTapped** library event won't trigger in android.

import { mobileMessaging } from 'infobip-mobile-messag

[2020-06-26 11:52] riskpp commented on #4
@ARazaAnjum
We've noticed the issue with `notificationTapped` event in case when app is killed by the system and it's fixed in [2.0.4 plugin version](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/2.0.4)

JFYI - If application is killed by the user it will not receive push notification, it's normal behaviour for Android

Please, please check it and notify us if there

[2020-06-30 13:20] riskpp commented on #3
Hi @alamataffan could you please try this approach [Manual plugin integration for iOS (in case your dependencies do not support `use_frameworks!`)](Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-`use_frameworks!`))

[2020-07-08 07:34] riskpp commented on #3
Hello @alamataffan do you have any issues with this approach? or I can close this issue?

[2020-07-08 07:59] #4 closed

[2020-07-23 14:36] #3 closed

[2020-09-08 05:32] tarunasharma089 opened #6 "react native ios manual plugin issue"
It builds fine in local system but fails in dev ops when built through CI, error attached. Its probably because in manual integration we use npm run mm_build and Carthage which is not there in azure. Please help how can we do this manual integration in azure.
<img width="1016" alt="Screenshot 2020-09-08 at 9 24 18 AM" src="https://user-images.githubusercontent.com/26599494/92436635-31cbc080-f1b6-1

[2020-09-08 05:32] tarunasharma089 opened #7 "android proguard issue"
Hi please share the rules for proguard

[2020-09-10 11:45] riskpp commented on #6
Hi @tarunasharma089, thank you for your question.

Could you please try following solution:
1. build `MobileMessaging.framework` locally as described in [Manual integration - step 3 (Build MobileMessaging.framework)](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)#manual-integrat

[2020-09-13 06:30] #6 closed

[2020-10-14 17:12] tjuric commented on #7
Hi @tarunasharma089,

Sorry for the delayed response. We've released version of SDK [2.1.2](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/2.1.2) that contains Proguard rules for our RN SDK. They should be merged with yours. In case they are not, rules are the following:
`-keep class org.infobip.reactlibrary.mobilemessaging.Configuration* { *; }
-keep class org.infobi

[2020-10-14 17:12] #7 closed

[2021-02-03 06:18] PavanApollo opened #8 "Will it work for RN 0.61.3 !?"
Hi I just wanted to know before integrating this fantastic library that if this library works on RN 0.61.3. Since in ReadMe file, it shows React Native - 0.61.5 is the minimum requirement !?

Prompt reply can be expected. @riskpp

[2021-02-03 09:48] tjuric commented on #8
Hi @PavanApollo,
We have stated that min required version is 0.61.5 because that was actually the minimal tested version. However, as checked, patch versions of RN should not break any of our functionalities and you can safely use versions 0.61.0+. We're going to change it in our readme file.

BR,
Tereza

[2021-02-03 09:48] #8 closed

[2021-02-03 10:20] PavanApollo opened #9 "Module 'MobileMessaging' not found"
Hello Team, I have installed `mobile-messaging-react-native-plugin` on the app and followed the instructions mentioned on Readme file, however it is throwing `Module 'MobileMessaging' not found` error even after doing pod install after npm installation. Hope someone can help in integration to iOS. @riskpp @tjuric

[2021-02-03 13:30] tjuric commented on #9
Hi @PavanApollo,
Could you try to run our Example application first? Instructions: https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/How-to-start-Example-app

[2021-02-04 04:42] PavanApollo commented on #9
Hi @tjuric
For the example app, we needed to provide our own APNS and FCM so we can upload it on Infobip profile and get back the application code !?

[2021-02-04 09:51] PavanApollo opened #10 "reactlibrary/mobilemessaging/ReactChatView.java:65: error: cannot find symbol"
Hello Team, I have integrated on iOS and it seems that integration is properly setup, however on Android the app is breaking on run time. The error message while running the app is this ` node_modules/infobip-mobile-messaging-react-native-plugin/android/src/main/java/org/infobip/reactlibrary/mobilemessaging/ReactChatView.java:65: error: cannot find symbol`. Please check the screen shot for more cl

[2021-02-04 09:51] #9 closed

[2021-02-09 11:16] riskpp commented on #10
Hi @PavanApollo, sorry for delayed answer. Please check [2.5.2 version](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/2.5.2), should be fine there.
BR, Olga

[2021-02-10 16:19] tjuric commented on #10
I'm closing this task cause we've identified this issue in 2.5.0 version of our library and fixed it in 2.5.2.

[2021-02-10 16:19] #10 closed

[2021-02-11 21:15] phvillegas opened #11 "MobileMessagingChatImages.car" not found"
Hello Team, I followed the instructions mentioned on README.md file and got the following error:

`error: Resource "/Users/user/Library/Developer/Xcode/DerivedData/App-hababimzkwlhcoddzzjplphyfkci/Build/Products/Debug-iphonesimulator/MobileMessaging/MobileMessaging.framework/MobileMessagingChatImages.car" not found. Run 'pod install' to update the copy resources script.`

## Configurations:

### p

[2021-02-11 21:20] phvillegas commented on #11
@riskpp @tjuric Please help me with this.

Thanks!

[2021-02-15 08:51] riskpp commented on #11
Hi @phvillegas, MobileMessaging SDK doesn't support static linkage now.
You can try to make following steps:

1. remove `:linkage => :static`
2. comment out flipper in podfile:
[code]
3. make `pod deintegrate`, `pod install`

Or, if you have dependencies which doesn't support dynamic linkage, you can [integrate MobileMessaging plugin manually](https://github.com/infobip/mobile-messaging-react-nati

[2021-02-16 17:03] phvillegas commented on #11
Hi @riskpp, thanks for your answer.

I'm going to manually integrate `MobileMessaging` plugin.

[2021-02-16 17:04] phvillegas commented on #11
I close this issue.

[2021-02-16 17:04] #11 closed

[2021-02-23 14:50] dericksa opened #12 "App presenting error: Failure com.apple.main-thread"
Hello,

after implementing the plugin and releasing the app (iOS) to firebase. App started to crash on start, the following comes from crashlytics:

[code]

When building for debug/release on xcode it worked well, but when releasing to firebase this problem started.

[2021-02-23 17:01] riskpp commented on #12
Hello, @dericksa. Could you please provide more details - plugin version, iOS version. How are you starting MobileMessaging plugin (code example)?

[2021-02-23 18:20] dericksa commented on #12
@riskpp We are using the 2.5.2 version of the plugin
These crashes occurs on iOS 12.4.1 and iOS 14.4.0.

We are initializing on App.tsx -> componentDidMount

`
export const init = () => {
        mobileMessaging.init(
            {
                applicationCode: appCode,
                ios: {
                    notificationTypes: ['alert', 'badge', 'sound']
                }
            },

[2021-02-23 18:45] dericksa commented on #12
At AppDelegate.m i have:

`
- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{

  [MobileMessagingPluginApplicationDelegate install];
  UserNotificationType *userNotificationType = [[UserNotificationType alloc] initWithOptions: @[UserNotificationType.alert, UserNotificationType.sound]];
  [[MobileMessaging withApplicationCode: @"appCode"

[2021-02-24 10:11] riskpp commented on #12
Hello @dericksa, you have to leave at `AppDelegate.m` only
[code]

other things in `AppDelegate.m` are redundant, could you please try without it.

Initialization in `componentDidMount` looks ok.

JFYI, you could enable logging for MobileMessaging SDK for iOS by adding `logging: true` option as in example app - https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/Example/App

[2021-02-24 13:17] dericksa commented on #12
@riskpp It worked!

Thank you for your support!

[2021-02-24 13:39] riskpp commented on #12
You are welcome!
I'll close the issue.

[2021-02-24 13:39] #12 closed

[2021-03-02 18:59] dericksa opened #13 "Error: UNDELIVERABLE_REJECTED_OPERATOR on Production App"
When trying to send a push notification (by the infobip portal) to a production app, it shows the following on logs:

[code]

But if i try any Sandbox (Like production) it works.

I've attached the Apple Push Services certificate to the production app (It's the right one accordingly to the tutorial). So why when using production to send push notifications, it doesnt work?

[2021-03-03 08:37] riskpp commented on #13
Hi @dericksa, may be this article could help you [I-don't-receive-push-notifications](https://github.com/infobip/mobile-messaging-sdk-ios/wiki/I-don't-receive-push-notifications).

BR, Olga

[2021-03-03 16:11] #13 closed

[2021-03-12 18:49] phvillegas opened #14 "No such module 'MobileMessaging'"
Hello Team.

 I followed the instructions mentioned on [integrate MobileMessaging plugin manually](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)) and my application works fine.

 Now I want to configure he [**Rich Notifications**](https://github.com/infobip/mobile-messaging-sdk

[2021-03-15 07:21] riskpp commented on #14
Hi @phvillegas, we will check it and return with the answer soon.
BR, Olga

[2021-03-15 07:42] Aliakwe opened #15 "The following build commands failed: Ld /Users/eogie/Library/Developer/Xcode/DerivedData/NativeTest-bvvnjxrhewatpcavpvzfxapqqryd/Build/Products/Debug-iphonesimulator/infobip-mobile-messaging-react-native-plugin/infobip_mobile_messaging_react_native_plugin.framework/infobip_mobile_messaging_react_native_plugin normal (1 failure)"
I get this error when i run react-native run-ios after pod install when integrating with this package

[2021-03-15 07:50] riskpp commented on #15
Hi @Aliakwe,
could you please try following steps:
1. cd ios
2. pod deintegrate
3. pod install

BR, Olga

[2021-03-15 10:51] riskpp commented on #14
Looks like you didn't specified path to `MobileMessaging.framework` in `Framework Search Path` for `MobileMessagingNotificationExtension` target. I updated steps a bit, to make them more clear [Integrating Notification service extension](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks

[2021-03-15 13:03] phvillegas commented on #14
Hi @riskpp

I followed the steps mentioned in [Integrating Notification service extension](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)#integrating-notification-service-extension) and this works for me.
But when setting up rich notifications I get error `No such module 'Mobile

[2021-03-15 13:12] phvillegas commented on #14
Hi @riskpp, thanks for your answer.

I followed the steps mentioned in [Integrating Notification service extension](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)#integrating-notification-service-extension) and this works for me.
But when setting up rich notifications I get erro

[2021-03-15 13:23] riskpp commented on #14
@phvillegas
For `TN` target your setup looks right, but in the targets list you also have `MobileMessagingNotificationExtension` target, looks like `Framework Search Path` in `Build Settings` tab not specified for it.
Check this target please.

![MMNotificationExtension target](https://user-images.githubusercontent.com/8104718/111158919-9b83b780-85a9-11eb-8c1d-cade10f599ff.png)

BR, Olga

[2021-03-16 09:35] Aliakwe commented on #15
thanks this solves the issue

[2021-03-16 13:17] #15 closed

[2021-03-16 18:16] phvillegas commented on #14
Hi @riskpp.

The solution you have given me works perfectly, so thank you for that. However, I have another problem: I get all the notifications but I can't visualize the image in each of them.
How could I solve this problem?

Thanks in advance.
Pedro

[2021-03-18 03:08] dericksa opened #16 "(Manual plugin Integration) Native module cannot be null"
When using the manual plugin integration for iOS i get this error importing:
`import { mobileMessaging } from 'infobip-mobile-messaging-react-native-plugin';`

And trying to set mobileMessaging.init()

MobileMessaging.frameworks is already on frameworks, libraries, etc and Link Binary with Libraries

[2021-03-18 07:42] riskpp commented on #16
Hi @dericksa , could you try following steps:
https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)#notice

BR, Olga

[2021-03-18 07:48] riskpp commented on #14
Hi @phvillegas , could you check [Requirements](https://github.com/infobip/mobile-messaging-sdk-ios/wiki/Rich-notifications#requirements)

May be your images from non-https (http) sources? Then make sure your extension allows arbitrary loads from non-secure sources - check  for details [Notification Service Extension Troubleshooting](https://github.com/infobip/mobile-messaging-sdk-ios/wiki/Notific

[2021-03-18 13:16] dericksa commented on #16
Hello @riskpp, i have followed these steps, the error start appearing after it.

[2021-03-18 13:42] dericksa commented on #16
Log:
[code]

The problem is with `import { mobileMessaging } from 'infobip-mobile-messaging-react-native-plugin';
`

[2021-03-18 13:54] riskpp commented on #16
Could you please try to build your project in Xcode? Which react-native version are you using?

[2021-03-18 14:29] dericksa commented on #16
I'm using xcode to build the project. RN 62.2

[2021-03-18 15:07] phvillegas commented on #14
Hi @riskpp, thanks for your help.

I added `MobileMessagingNotificationExtension` **target** to `Podfile` and this worked.

[code]

Thanks a lot.
Pedro

[2021-03-18 15:07] #14 closed

[2021-03-23 19:30] phvillegas opened #17 "In app notifications"
Hi Team,

How can I customize the button text color?

| | |
|--------|----------|
| ![android](https://github.com/infobip/mobile-messaging-sdk-android/wiki/images/InAppDefaultActionsAndroid.png?raw=true)| ![ios](https://github.com/infobip/mobile-messaging-sdk-ios/wiki/Images/InAppDefaultActionsIos.png?raw=true)

[2021-03-23 19:52] tjuric commented on #17
Hi @phvillegas,
Button text color on in-app dialog is managed by style attribute `colorAccent`. Could you try applying following style as stated in [native Android SDK docs](https://github.com/infobip/mobile-messaging-sdk-android/wiki/In-app-notifications#customize-button-text-color)?
[code]

BR,
Tereza

[2021-03-25 16:37] #16 closed

[2021-03-25 20:03] phvillegas commented on #17
Hi @tjuric, thank you for your support.

Do you know if in iOS I can customize the color of the button text? or  Can I disable `In app notifications` from JavaScript?

Thanks!

[2021-03-29 08:19] riskpp commented on #17
Hi @phvillegas!

For iOS In-app notification button text color is taken from app global tint color. You can customize it with `MMInteractiveMessageAlertSettings.tintColor` parameter in AppDelegate, such as:
[code]

BR, Olga

[2021-03-29 13:46] phvillegas commented on #17
Hi @riskpp, @tjuric.

Thank you for your support

[2021-03-29 13:46] #17 closed

[2021-04-09 08:25] Allenkardic opened #18 "The following are failing while i run react-native run-ios after integrating with this plugin"
The following build commands failed:
        MergeSwiftModule normal x86_64
        Ld /Users/eogie/Library/Developer/Xcode/DerivedData/stowMobile-cxpdjgrsvggoaqfbvogflbxiirfn/Build/Products/Debug-iphonesimulator/RNScreens/RNScreens.framework/RNScreens normal

[2021-04-09 08:29] Allenkardic commented on #18
this is the error i am getting

[2021-04-09 08:30] Allenkardic commented on #18
The following build commands failed:

MergeSwiftModule normal x86_64
Ld /Users/eogie/Library/Developer/Xcode/DerivedData/stowMobile-cxpdjgrsvggoaqfbvogflbxiirfn/Build/Products/Debug-iphonesimulator/RNScreens/RNScreens.framework/RNScreens normal

[2021-04-09 10:08] riskpp commented on #18
Hi @Allenkardic, could you please provide aditionaly mobile-massaging plugin version, react-native version, Xcode version which you are using.

BR,
Olga

[2021-04-09 10:36] Aliakwe commented on #15
Hello,

Trust you are well.

So I am getting this error trying to integrate with this package

The following build commands failed:
        Ld /Users/eogie/Library/Developer/Xcode/DerivedData/stowMobile-cxpdjgrsvggoaqfbvogflbxiirfn/Build/Products/Debug-iphonesimulator/RNScreens/RNScreens.framework/RNScreens normal
        MergeSwiftModule normal x86_64

This error occurs after i install the packag

[2021-04-09 10:46] Allenkardic commented on #18
infobip-mobile-messaging-react-native-plugin: ^3.0.0,
    react-native: 0.63.4,
    Xcode 12.4

[2021-04-09 13:46] dericksa opened #19 "Crashes on Android using the plugin"
Hello,

We've been receiving some reports from firebase crashlytics of crashes involving this plugin:

[code]

Is it something related to android's sdk?

We are currently using the 2.6.0 version of the plugin and react-native 62.2

[2021-04-09 14:02] dericksa commented on #19
We are also facing this:

[code]

[2021-04-09 15:22] tjuric commented on #19
Hi @dericksa,

The first issue `java.lang.IllegalArgumentException: Receiver not registered:` is affecting only our RN plugin (Android platform). We'll provide a fix for it in the upcoming week. Thanks for reporting it.

The second issue is related to the native Android SDK and we did have it reported long time ago (but with different stacktrace), did changes that silenced this particular issue, a

[2021-04-09 16:02] dericksa commented on #19
@tjuric Hello, thanks for replying:

We get the appCode from AppConfig, which gets from an env file.

[code]

2. and 3. There are different devices with different OS versions experiencing it:
Redmi Note 9 Pro, GalaxyA71, GalaxyS10e - Android 10
Galaxy S10 - Android 11
Galaxy J7 - Android 6.0.1

4. We were not able to reproduce it

5. Since we launched, it happens 1-5 times a day

[2021-04-09 16:32] tjuric commented on #19
Thank you for details @dericksa,
We'll try to check the other reported bug as well, but I'm not yet sure when. We'll provide you updates on this thread.

BR,
Tereza

[2021-04-12 07:01] riskpp commented on #18
Hi @Allenkardic, we figured out that the issue is in compatibility with [react-native 0.63.4](https://github.com/itinance/react-native-fs/issues/964). We will try to fix it soon, but before you could use react-native 0.62, just don't forget [comment out Flipper](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/How-to-use-Mobile-Messaging-Plugin-with-React-Native-(v0.62.x))  and

[2021-04-12 11:34] riskpp commented on #18
@Allenkardic could you please try with new version of plugin [v3.0.2](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/3.0.2). Just don't forget to comment out Flipper in the Podfile:
[code]

BR,
Olga

[2021-04-12 13:35] Allenkardic commented on #18
ok thank you.

I would do that and get back to you as soon as possible.

On Mon, Apr 12, 2021 at 12:34 PM Olga Koroleva ***@***.***>
wrote:

[2021-04-14 08:08] riskpp commented on #19
Hi @dericksa we released [3.0.3](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/3.0.3) version with fix for `java.lang.IllegalArgumentException: Receiver not registered`

BR,
Olga

[2021-04-14 09:07] Aliakwe commented on #18
Invariant Violation: Native module cannot be null.
Error: Requiring module "node_modules/infobip-mobile-messaging-react-native-plugin/index.js", which threw an exception: Invariant Violation: Native module cannot be null.

This error occurs when import  ChatView from infobip-mobile-messaging-react-native-plugin

[2021-04-14 10:39] riskpp commented on #18
Hi @Aliakwe,
Didn't reproduce this issue, I've run newly created project for version 0.63.4 on iOS successfully with installed plugin and this code in App.js:
[code]
You could try:
- clean cache (`npm start --reset-cache`)
- do pods cleanup (`pos deintegrate & pod install`) from ios folder
- clean build folder (open Xcode, Product->Clean Build Folder

or please provide more details.

BR,
Olga

[2021-04-14 10:59] Aliakwe commented on #18
Yeah i tried reproducing the error too so i created a new project version 0.63.4 and installed  infobip-mobile-messaging-react-native-plugin it worked fine. I decided to troubleshoot our application and then i realised that infobip-mobile-messaging-react-native-plugin doesn't work when
@react-native-firebase/firestore: 10.8.1 is installed.

So i uninstalled @react-native-firebase/firestore and inf

[2021-04-15 05:32] riskpp commented on #18
@Aliakwe regarding issue with nanopb, you can try what advised in [react-native-firebase issue](https://github.com/invertase/react-native-firebase/issues/3673).

BR,
Olga

[2021-04-16 12:47] Aliakwe commented on #18
So i did that for my test application and it worked but our main application still gives error. This is me thinking the error doesn't have to do with your package. It is quite strange that when i install this package on our app this error come up though.

I have thus far
Deleted node module
removed derivedData by running this command:  rm -rf ~/Library/Developer/Xcode/DerivedData
delete Pods and P

[2021-04-16 12:59] riskpp commented on #18
Hi @Aliakwe, could you please provide the list of your dependencies? May be one of them not updated and still uses 'React' instead of 'React-Core' in their Podspec.

BR,
Olga

[2021-04-16 13:16] Aliakwe commented on #18
"dependencies": {
    "@gorhom/animated-tabbar": "^2.1.1",
    "@react-native-community/async-storage": "^1.12.1",
    "@react-native-community/datetimepicker": "^3.4.3",
    "@react-native-community/google-signin": "^5.0.0",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community/picker": "^1.8.1",
    "@react-native-firebase/app": "^10.8.1",
    "@react-native-firebase

[2021-04-16 13:24] Aliakwe commented on #18
plus this two.
"lottie-ios": "^3.1.8",
"lottie-react-native": "^3.5.0",

[2021-04-19 14:22] Aliakwe commented on #18
Hello Olga,

Is there any update on this.

Thank you

From: Olga Koroleva ***@***.***>
Reply to: infobip/mobile-messaging-react-native-plugin ***@***.***>
Date: Friday, 16 April 2021 at 13:59
To: infobip/mobile-messaging-react-native-plugin ***@***.***>
Cc: Emmanuel Ogie ***@***.***>, Mention ***@***.***>
Subject: Re: [infobip/mobile-messaging-react-native-plugin] The following are failing while i

[2021-04-20 07:27] riskpp commented on #18
Hi @Aliakwe
looks like it's `use_frameworks!` option in podfile, with it even without mobile-messaging plugin, project with your dependencies list failed to run with that error.

You could try to integrate plugin manually - [Manual plugin integration for iOS (in case your dependencies do not support
 use_frameworks!) ](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plu

[2021-04-27 16:22] phvillegas opened #20 "Error: Building MobileMessaging.framework with Carthage"
Hello team,

I've got some errors when building `MobileMessaging.framework`.

I upgraded  Xcode and when I run `npm run mm_build` in `node_modules/infobip-mobile-messaging-react-native-plugin`.
I could see the following error in the terminal:

[code]

## Configurations:

### package.json:

[code]

Hope someone can help me.
Thanks!

[2021-04-28 06:44] ARazaAnjum opened #21 "Building issue on Xcode 12.5"
Hi,

On Xcode 12.4 we just saw the warnings, but now on the new Xcode 12.5 they have become errors.I think that this should be taken care of now. Not sure how much I can just remove these attributes.

Error:

ios/Pods/MobileMessaging/Classes/Vendor/CryptoSwift/Generics.swift:39:28: 'exported: true' has no effect in '_specialize' attribute'_specialize' attribute
@_specialize(exported: true, where T

[2021-04-28 07:06] riskpp commented on #21
Hi @ARazaAnjum, thank you for reporting it, actually changes already done on iOS SDK and we will update plugin today!

BR, Olga

[2021-04-28 07:07] riskpp commented on #20
Hi @phvillegas, thank you for reporting it, I think it's Xcode 12.5 compatibility issue, as I see from logs you are using this version. We will update plugin soon.

BR, Olga

[2021-04-28 14:24] riskpp commented on #21
@ARazaAnjum, we've released [3.1.0 version](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/3.1.0) with Xcode 12.5 support.

BR, Olga

[2021-04-28 14:25] riskpp commented on #20
@phvillegas, we've released [3.1.0 version](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/3.1.0) with Xcode 12.5 support.

BR, Olga

[2021-04-28 15:07] phvillegas commented on #20
Hi @riskpp

Thanks for your support.

The latest version works for me.

Regards.

[2021-04-28 15:08] #20 closed

[2021-05-06 10:00] tjuric commented on #19
Hi @dericksa,
We've released MM RN plugin version [3.1.1](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/3.1.1) with a few bug fixes on Android. We've fixed cases that we've noticed in our code related to your reported issue.

Please, try it out and update us on the new status.

BR,
Tereza

[2021-05-14 13:11] tjuric commented on #19
I'll close this one cause we've released a fix for this particular case. If you encounter it again, feel free to reopen this one.

[2021-05-14 13:11] #19 closed

[2021-05-28 13:46] phvillegas opened #25 "We suddenly stopped receiving notifications on our iOS devices"
Hi team,

A month ago, we received notifications on our iOS devices, but now the **Infobip** service is not working on the mentioned platform. I checked that those devices had a pushRegistrationId, and when we searched for those IDs in the **Infobip** database (by logging in [https://portal.infobip.com/login/](https://portal.infobip.com/login/)) and I couldn’t find those IDs. I also waited for sev

[2021-05-28 14:29] riskpp commented on #25
Hi @phvillegas,

Could you please send this question with the list of pushRegistrationIds affected to `support@infobip.com` along with your [Infobip Portal](https://portal.infobip.com/) login?

BR, Olga

[2021-06-01 10:31] riskpp commented on #18
Closing it, seems it's answered.

[2021-06-01 10:31] #18 closed

[2021-06-01 10:32] riskpp commented on #21
Closing it, seems it's sloved.

[2021-06-01 10:32] #21 closed

[2021-06-23 18:56] #25 closed

[2021-07-27 14:03] lrusso opened #28 "No such module 'MobileMessaging' in the version 4.0.0"
Hello, I'm currently using the 3.1.0 version and when trying to update to the latest version, I'm getting a "No such module 'MobileMessaging'".

In the 3.1.0 version I added to the FRAMEWORK_SEARCH_PATHS to following path:

$(SRCROOT)/../node_modules/infobip-mobile-messaging-react-native-plugin/ios/Carthage/Build/iOS/

But in the 4.0.0 version that path does not exist.

Best regards and waiting fo

[2021-07-27 15:05] kas-kad commented on #28
Hello, please provide information about your environment as complete as possible.

[2021-07-27 17:57] lrusso commented on #28
In the package.json we have a `"postinstall": "cd node_modules/infobip-mobile-messaging-react-native-plugin && npm run mm_build"` that it's required in order to the Infobip plugin to work with the iOS App.

In the 3.1.0 version I added to the FRAMEWORK_SEARCH_PATHS to following path:

`$(SRCROOT)/../node_modules/infobip-mobile-messaging-react-native-plugin/ios/Carthage/Build/iOS/`

<img width="896

[2021-07-27 20:17] kas-kad commented on #28
What is your Xcode version?

[2021-07-27 20:18] lrusso commented on #28
12.4

[2021-07-27 21:48] kas-kad commented on #28
Minumun required Xcode version for 4.0.0 is 12.5 ([Readme](https://github.com/infobip/mobile-messaging-react-native-plugin#readme))

[2021-07-28 14:17] lrusso commented on #28
I just updated to xcode 12.5.1 and the issue remains:

<img width="852" alt="error" src="https://user-images.githubusercontent.com/11498901/127336009-bffa2217-781a-4882-a7ad-10ad209d472c.png">

And the Carthage folder doesn't have the Build/iOS framework folder like the 3.x version:

<img width="896" alt="folder" src="https://user-images.githubusercontent.com/11498901/127337982-a6b50804-6c26-49d8-

[2021-07-28 16:31] kas-kad commented on #28
What is your Carthage version?

[2021-07-28 16:33] lrusso commented on #28
0.37.0

[2021-07-28 16:36] kas-kad commented on #28
does it help if you change `FRAMEWORK_SEARCH_PATHS`  to `$(SRCROOT)/../node_modules/infobip-mobile-messaging-react-native-plugin/ios/Carthage/Build`?

[2021-07-28 16:38] kas-kad commented on #28
did you try to reinstall the plugin after updating to newer Xcode?

[2021-07-28 20:04] irbisdev opened #29 "[iOS] Example project: Build Failed"
Tried to build example project from repo on iOS.

**Before build:**
[code]

**Result:**

<img width="369" alt="Screenshot 2021-07-28 at 22 56 29" src="https://user-images.githubusercontent.com/4831278/127387793-9d221494-27ce-400f-a39c-af95d2932e90.png">

**Environment:**
Xcode 12.5.1
CocoaPods 1.10.1

---

**One of solution:**

`ios/Podfile`
[code]

[2021-07-28 20:33] lrusso commented on #28
I just tried both suggestions and the issue remains.

[2021-07-29 07:10] kas-kad commented on #28
What is your React Native version?

[2021-07-29 07:22] kas-kad commented on #28
Have you followed this [guide](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Manual-plugin-integration-for-iOS-(in-case-your-dependencies-do-not-support-%60use_frameworks!%60)) ?

[2021-07-29 10:23] irbisdev opened #30 "Empty screen and disabled input after chat opening"
**Environment:**
Xcode 12.5.1
Cocoapods 1.10.1
Gradle 4.1.0
react-native 0.64.2
infobip-mobile-messaging-react-native-plugin 4.0.0

**Initialization:**
[code]

---

`mobileMessaging.showChat();` works almost fine (first func call) on Android, but on IOS - empty state with disabled input.

<details>
  <summary>iOS screenshot</summary>

  <img width="300" alt="iOS_showChat" src="https://user-images.

[2021-07-29 10:27] irbisdev opened #31 "TypeScript support"
Can you add a types definition for TypeScript?

[2021-07-29 15:08] lrusso commented on #28
Yes, but it didn't work for me. My solution was to use `$(SRCROOT)/../node_modules/infobip-mobile-messaging-react-native-plugin/ios/Carthage/Build/MobileMessaging.xcframework` and 'Do Not Embed' in the MobileMessaging framework.

[2021-07-29 15:08] #28 closed

[2021-08-02 06:31] riskpp commented on #29
@irbisdev Thank you!
We will check and update Example.

BR, Olga

[2021-08-02 06:34] riskpp commented on #30
Hi @irbisdev, thank you for reporting it, we will check and return with the answer ASAP.

BR, Olga

[2021-08-02 08:33] riskpp commented on #31
@irbisdev it's in our near future roadmap, I'll write in this thread when it will be added.

BR, Olga

[2021-08-03 09:31] riskpp commented on #30
Hi @irbisdev, regarding issue with empty chat with disabled controls on iOS, I see from logs that you are testing it on Simulator, but to register your device in Infobip platform( so that it will be able to have In-app chat) we need to receive APNS token, which isn't possible on Simulator, so please check it on the device.

Regarding other questions, I'm in progress with it.

BR, Olga

[2021-08-03 10:18] irbisdev commented on #30
@riskpp

Thanks for the advice. I checked it works fine on the iOS device.

[2021-08-03 13:38] riskpp commented on #30
I checked other things
1. **`mobileMessaging.showChat()` shows empty chat on Android 2nd launch**
     can't reproduce such behaviour, could you may be try again, mb was some temporary issue.
2. **`<ChatView />` - doesn't work on Android**
yes, reproduced it in Example app, somehow ChatView can't get parent view, mb this behaviour connected with Navigation component, which is used in Example, will

[2021-08-03 19:17] riskpp commented on #29
Didn't reproduce this issue, however found different one, some time ago by mistake `#import <React/RCTLinkingManager.h>` was removed from [AppDelegate.m](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/Example/ios/Example/AppDelegate.m#L5)

I've updated it.

About issue you mentioned, would be nice to try to make following steps:
1.  `pod deintegrate`, `pod install` wit

[2021-08-04 06:44] riskpp commented on #30
Hello @irbisdev, yesterday we fixed `ChatView` React.Component for Android, you can use it with Navigation component as in Example app.

BR, Olga

[2021-08-04 07:17] irbisdev commented on #30
@riskpp
Thanks.  It work now on Android

[2021-08-04 07:17] #30 closed

[2021-11-19 13:45] Pxinxs365 commented on #17
Hi
How can I customize the title and description colors?

[2021-11-23 15:06] riskpp commented on #29
Closing it, issue not reproduced and no more questions appeared.

[2021-11-23 15:06] #29 closed

[2021-12-06 21:04] dameunbite opened #32 "Cannot connect SDK to infobip server even though following all instructions"
I have installed the sdk properly but cannot figure out how to connect it to infobip servers. I have been with this error for the past 2 weeks. What can I do to fix this issue?

# This is the error message:
`
{code: 1, domain: 'com.mobile-messaging', description: 'The application instance is not registered on the …ed to be notified as the registration succeeded.'}
code: 1
description: "The applica

[2021-12-07 12:09] riskpp commented on #32
Hi @dameunbite,

This error means that, registration wasn't performed yet and you need to receive "registrationUpdated" event, to be able to perform any other calls like "mobileMessaging.saveUser".

1. Don't you testing it on iOS Simulator just in case? On simulator we can't get APNS token, so it's not possible to register and test features.
2. You can check [Example application](https://github.co

[2021-12-08 20:52] dameunbite commented on #32
I have followed all the react-native integration and I keep getting the same error in production. This are the events logged from real device.

mobileMessaging.init runs successfully and it does not give any error but on mobileMessaging.saveUser it gives the error displayed before (mobileMessaging.saveUser happens very quick after init). Is there another way we can troubleshoot this? Also can this

[2021-12-09 09:43] riskpp commented on #32
Hi @dameunbite,

You can register to "registrationUpdated" event and make other calls after it happen.
Just to notice "registrationUpdated" event is posted during the registration process, after a current APNs device token is stored on the server and the new Push Registration Id for the current user is generated. So it'll be posted once, if device token already provided to the server this event wo

[2021-12-16 20:19] dameunbite commented on #32
It's not working! I have added a log to our server to check what infobip package is responding. I get successful mobileMessaging.init callback but the app is not being reported in the server. Is even asking for the push notification and we are allowing it.

Can we set up a meeting?

![Screen Shot 2021-12-16 at 4 17 18 PM](https://user-images.githubusercontent.com/48269003/146443191-b8b56f6d-c5aa-4

[2021-12-20 09:05] riskpp commented on #32
Hi @dameunbite, sorry for daly in answer.

Could you please send this question to `support@infobip.com`.

BR, Olga

[2021-12-30 09:34] Rohit-Surawat opened #33 "Infobip react native sdk update Issue"
Hi All,

We are facing issue related to infobip sdk update, because of that we are facing multiple issue,

Existing Version: 2.2.0
Target Version :4.1.4

Current Implementation:

We have both android sdk and react native plugin in place for info bip notification handling.
1. Infobip there is a module created in android which handles the saving user data, login, logout and handle push notifications

[2021-12-30 09:40] Rohit-Surawat opened #34 "App Killed : Notification Tapped Not Detected."
Hi All,

May i know how to detect notification tap event if app is killed.

Detail Scenario: Suppose a new notification that is right now in notification tray is tapped how to detect that and store notification data in the application state suppose redux for deep linking.

Please help us on this as we are facing this issue
infobip lib version :2.2.0

Thanks & Regards
Rohit

[2021-12-30 09:58] kostap13 commented on #33
Hi @Rohit-Surawat
Could you please provide more details about yours environment?

RN version, node version etc.

[2021-12-30 10:00] kostap13 commented on #34
Hi @Rohit-Surawat

As I understood it related to this issue: https://github.com/infobip/mobile-messaging-react-native-plugin/issues/33

Let's discuss this issue at related thread

[2021-12-30 10:10] kostap13 commented on #33
And also one other question

Why do need such solution?

Maybe RN plugin 4.1.4 will cover all yours requirements?

[2022-01-10 12:59] LFMAKER opened #35 "Crashes on Android"
Hello,

We've been receiving some reports from firebase crashlytics of crashes involving this plugin:
Fatal Exception: java.lang.NullPointerException
Attempt to get length of null array
org.infobip.reactlibrary.mobilemessaging.ReactNativeEvent.send

[code]

Setup:
React Native: 0.66.3
mobile-messaging-react-native-plugin: 4.1.4

Could you assist me in how I can resolve this?

[2022-01-10 13:10] johnsoncwb commented on #35
Same problem here.

[2022-01-10 13:21] BPatinho commented on #35
We noticed it here since we upgraded `infobip-mobile-messaging-react-native-plugin` from `3.1.1` to `4.1.4`

[2022-01-10 13:53] riskpp commented on #35
Thank you for reporting it, we will check.

[2022-01-11 07:01] riskpp commented on #34
Hello @Rohit-Surawat,
- At first better to update plugin to the latest version, we've implemented some bug fixes for receiving notification tapped event.
- Use "notificationTapped" library event - [Library Events](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Library-events)

[2022-01-11 07:14] riskpp commented on #33
Hello @Rohit-Surawat,
Could be that Mobile Messaging react-native plugin can cover all your requirements
- Saving user data, personalize, depersonalize - [Personalization](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Users-and-installations#personalization-phone-numbers-emails-and-external-user-id)
- Handling push notifications - "messageReceived", "notificationTapped" even

[2022-01-11 15:02] riskpp commented on #35
We fixed it, please check latest version - [4.1.5](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/4.1.5).

[2022-01-19 10:50] Rohit-Surawat commented on #33
Hi Sorry for delay in response ,
Let me provide you detail explanation,

We have native implementation in place for Android OS in our react native application.

Current Build Gradle Of Android :
org.infobip.mobile.messaging.api:infobip-mobile-messaging-android-sdk:4.0.2@aar

React Native Plugin Version :
  "infobip-mobile-messaging-react-native-plugin": "2.2.0",

Now when i update to latest versio

[2022-01-19 12:36] Rohit-Surawat commented on #33
Hi @riskpp @kostap13 Sorry for delay in response ,
Let me provide you detail explanation,

We have native implementation in place for Android OS in our react native application.

Current Build Gradle Of Android :
org.infobip.mobile.messaging.api:infobip-mobile-messaging-android-sdk:4.0.2@aar

React Native Plugin Version :
"infobip-mobile-messaging-react-native-plugin": "2.2.0",

Now when i update

[2022-01-21 07:27] riskpp commented on #33
Hi @Rohit-Surawat,
Could you please check that you can't use just react-native plugin, without native sdk? As I [mentioned above](https://github.com/infobip/mobile-messaging-react-native-plugin/issues/33#issuecomment-1009659727) plugin has all features, which exist in native sdk.

Which react-native version is used in your project? could you please try to upgrade to latest supported by our plugin

[2022-01-21 15:10] Rohit-Surawat commented on #33
Current React Native Version : 0.65.1

[2022-01-21 16:13] Rohit-Surawat commented on #33
Full Package JSON Details: I have doubt if updating info bip is causing conflict with one of below mentioned libs.
"@amplitude/react-native": "^2.5.0",
    "@ebizon/react-native-advance-draggable-view": "^1.0.13",
    "@gorhom/bottom-sheet": "^2",
    "@hmscore/react-native-hms-map": "^5.0.1-300",
    "@jumpn/react-native-jetifier": "^0.1.4",
    "@monterosa/react-native-parallax-scroll": "^1.8.0"

[2022-01-23 14:53] agupta-avenir commented on #33
@riskpp  Any update on this issue. We are struggling to update the infobip version in our App from 2.2.0 -> 4.1.6
This is some more details of the error:
ERROR  Invariant Violation: "appName" has not been registered. This can happen if:
* Metro (the local dev server) is run from the wrong folder. Check if Metro is running, stop it and restart it in the current project.
* A module failed to load du

[2022-01-29 13:50] agupta-avenir commented on #33
@riskpp  Just an update we were successfully able to update to 4.0.0 but facing issue with v4.1.6 update

[2022-01-31 12:37] agupta-avenir opened #36 "Getting error on - iOS [UserSessionService] no push registration id. Aborting..."
After upgrading to version 4.0.0 we are getting below on iOS
"infobip-mobile-messaging-react-native-plugin": "4.0.0",
[UserSessionService] no push registration id. Aborting...

In Infobip Portal, the device is not getting registered now, earlier it was working fine.

[2022-01-31 15:20] agupta-avenir commented on #36
Also received this error in iOS. Android is working fine.
[MobileMessaging] 🛠 [DynamicBaseUrlHTTPSessionManager] Response received
url: https://mobile.infobip.com/mobile/3/version?platformType=APNS
status code: 403
headers: [AnyHashable("X-Request-Id"): 1643642291149245875, AnyHashable("Content-Length"): 4, AnyHashable("Access-Control-Allow-Methods"): GET, POST, PUT, PATCH, DELETE, COPY, HEAD, OPT

[2022-01-31 15:25] kas-kad commented on #36
This is essentially the same case that you have reported in the first message.

you can ignore this error. The VersionManager that triggers this error would be disabled in your Release build. Version Manager just checks whether or not you are using the most up-to-date version of Mobile Messaging.

[2022-01-31 15:45] agupta-avenir commented on #36
Thanks @kas-kad for the Info.
Now the issue is i am not able to register users in such case and the Push Notification triggered via the designated method is not working. How can i resolve this.
Again, this is happening only on iOS.

[2022-01-31 15:46] agupta-avenir commented on #33
@kas-kad If you can throw some light on this issue as well will be great.

[2022-01-31 15:59] kas-kad commented on #36
@agupta-avenir I'm not sure I understand the problem. Could you maybe describe in details what is your use-case.

what do you do to register users?

how do you trigger push notification?

[2022-01-31 16:12] agupta-avenir commented on #36
@kas-kad  After Login, we send some essential parameter(Login Id) in saveUser call and from Infobip portal/Backend we use that Primary Login Id to send push Notification. Now since the saveUser call is failing, the Push Notification are not getting sent.

[2022-01-31 16:17] kas-kad commented on #36
@agupta-avenir you need to wait until registration finishes successfully and call "saveUser" afterwards. I suggest you to subscribe for event/notification called "registrationUpdated" and perform "saveUser" within the event handling code, more details in doc: https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Library-events.

[2022-01-31 16:52] agupta-avenir commented on #36
@kas-kad  Already have this "registrationUpdated" event. It's not getting called at all.

[2022-02-01 06:53] agupta-avenir commented on #36
@kas-kad  One more thing
In Appdelegate.m we have this line commented out - //[MobileMessagingPluginApplicationDelegate install];
and our Push Notifications are working. What could be the impact of this?

Should i enable it?

[2022-02-01 07:57] kas-kad commented on #36
@agupta-avenir
According to our documentation, this line must not be commented out. What was the reason you chose not to follow our guide?

[2022-02-01 13:15] agupta-avenir commented on #36
Thanks @kas-kad , no idea why it was disabled. Now enabled it.

[2022-02-01 14:25] kas-kad commented on #36
@agupta-avenir please doublecheck if you have all the steps done with respect to this guide: https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/README.md

[2022-02-02 05:27] agupta-avenir commented on #36
Thanks @kas-kad. All other step are good.

Also, we are facing issue in updating the Infobip version to 4.1.6 as on Android we are able to run the App. Can you help on that.

`ERROR Invariant Violation: "appName" has not been registered. This can happen if:

Metro (the local dev server) is run from the wrong folder. Check if Metro is running, stop it and restart it in the current project.
A module

[2022-02-02 09:20] kostap13 commented on #36
Hi @agupta-avenir

About Android issue looks like smth related to local environment.

Coukld you please check what RN and node version do you use?

Requirements for 4.1.6:
node (v10.17.0 or higher)
React Native (v0.66.3)

[2022-02-02 16:51] agupta-avenir commented on #36
These are the version's currently set, so we need to update to RN version 0.66.3 for v4.1.6 but we tried to update to 4.1.0, 41.2, 4.1.3 got same issue so it's some related to something else. Can you give us minimum requirement for 4.1.3 as that version is having an event we are interested in.
Node: v17.0.1
 React Native: 0.65.1

[2022-02-03 07:32] riskpp commented on #35
Closing, because was fixed

[2022-02-03 07:32] #35 closed

[2022-02-03 10:21] riskpp commented on #33
Hi @agupta-avenir, sorry for delay in the answer
Could you please send your proguard rules file, could be somehow related with the issue..
I've check for the following environment:
- mobile-messaging plugin version 4.1.6
- react-native: 0.65.1
- node: 17.0.1
that simple application created by command `react-native init TestRN65_1 --version 0.65.1` is working fine on Android.

[2022-02-03 10:31] agupta-avenir commented on #33
Here it is:

`# Copyright (c) Facebook, Inc. and its affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in /usr/local/Cellar/android-sdk/24.3.3/tools/proguard/proguard-android.txt
# You can edit th

[2022-02-03 11:20] riskpp commented on #33
With provided proguard rules I also got error from this [comment](https://github.com/infobip/mobile-messaging-react-native-plugin/issues/33#issuecomment-1016425452), but managed to solve it using [this solution](https://github.com/facebook/react-native/issues/9043#issuecomment-298832659). Looks not related to mobile-messaging plugin.

For mobile-messaging plugin in pro-guard only this is needed:
[

[2022-02-03 15:19] riskpp commented on #33
@agupta-avenir I see in provided proguard rules:
[code]
Do you have package named "com.mypackage"? It should be changed to your package name. "ReactConfig: Could not find BuildConfig class" issue could be related to this.

[2022-02-07 05:58] agupta-avenir commented on #33
@riskpp  Not sure if this is impacting but til version 4.0.0 its working with the same code base.

[2022-02-07 07:35] riskpp commented on #33
Hi @agupta-avenir, could you please try to change in your proguard rules package name to real one?
Would be great to have minimal example with which we can reproduce the issue, note that we already tried minimal react-native application with your environment and unfortunately can't reproduce the issue.

BR, Olga

[2022-02-13 15:55] agupta-avenir commented on #33
@riskpp  Finally able to fix the issue. Yes it was due to proguard config. Thanks a lot for help and support.
We just got into another issue after updating the sdk where on iOS debugging has stopped working. Any help on that would be great.

[2022-02-14 10:35] riskpp commented on #33
Hi @agupta-avenir , great that you managed to solve the initial problem!
Could you please clarify, which debugging doesn't work on iOS? Do you mean flipper or debugging through xCode?

[2022-02-15 06:19] imkrishh commented on #33
@riskpp with infobip `4.1.6` version the Initialize method (`mobileMessaging.init`)  in iOS is crashing in chrome debug mode.

React Native Version  `0.65.1`
MobileMessaging Version `9.2.11` (was 9.1.10)
infobip-mobile-messaging-react-native-plugin `4.1.6` (was 4.0.0)

![Simulator Screen Shot infobip init crash](https://user-images.githubusercontent.com/48957457/154003429-2cafabef-b3b3-47da-b2f1-6

[2022-02-17 08:10] riskpp commented on #33
Hi @imkrishh, we started working on it, will inform you about fix

[2022-02-17 12:02] riskpp commented on #33
Should be fixed with new version - [5.0.1](https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/5.0.1)

[2022-02-17 16:17] #32 closed

[2022-03-15 21:47] vokecodes opened #37 "App crash on mobile-messaging initialization"
After creating the widget on the dashboard and following the infobip-mobile-messaging-react-native-plugin installation guide, the Android app fails to build with this error
[code]
If I should remove this line of code below in `/android/app/src/main/res/values/strings.xml ` the app builds successfully.
`<string name="google_app_id">your google app id</string>`

We have Firebase set up in the app wi

[2022-03-16 20:46] vokecodes commented on #37
Hi @kostap13 @tjuric,

What we did was to add key/values from google-services.json to resource strings (strings.xml) and removed this line `apply plugin: 'com.google.gms.google-services'` from the build.gradle file.

It works!

Thanks

[2022-03-16 20:46] #37 closed

[2022-03-17 08:00] vokecodes opened #38 "Unable to connect to the chat. - TypeError: Cannot read property 'init' of null"
Unable to connect to the chat. I get this error on initialization.

[code]

Here's the function call

[code]

[2022-03-17 10:38] kostap13 commented on #38
Hi @vokecodes

Seems that there is no enough information. And I don't know why _mobileMessaging_ is null.

How it was imported? Is it available (not null) after import?
Here could be too much reasons for this case.

Best regards

[2022-03-17 11:35] vokecodes commented on #38
Imported this way
`import { mobileMessaging } from 'infobip-mobile-messaging-react-native-plugin';`

[2022-03-18 22:41] vokecodes commented on #38
Here is the crash logs

[code]

[2022-03-21 07:34] riskpp commented on #33
Was fixes in latest version

[2022-03-21 07:34] #33 closed

[2022-03-21 07:34] riskpp commented on #34
Was fixed in 5.0.1 version

[2022-03-21 07:34] #34 closed

[2022-03-21 07:57] riskpp commented on #38
He @vokecodes as I see in provided code snippet, you are initializing mobileMessaging every time when you need to open chat. Best approach is to initialize mobileMessaging once, when application started, then call `mobileMessaging.showChat();` when you need to open chat. Could you please explain when/how are you calling `openChat`?
We've tried to implement example application with your code-snippe

[2022-03-21 08:22] vokecodes commented on #38
I will change the initialization implementation, thanks.

I call the openChat function on the click of a button.

[2022-03-23 08:40] ahadtechcarrot commented on #37
Hi @vokecodes if I remove `apply plugin: 'com.google.gms.google-services'` then I am getting a different error. Can you please elaborate on the process of setting up infobip in android?

[2022-03-23 11:28] ahadtechcarrot opened #39 "Android App keeps on crashing in InfoBip in the new version"
Hi,

I set up infobip in react-native for Android and IOS but the app keeps on crashing in Android and I am receiving the below error message. Can someone please suggest to me if in Android we require some additional manual setup or if I have done the wrong setup?

Below are some details for your reference :

Versions :
[code]

In strings.xml file, I have defined :

`<string name="google_app_id">"

[2022-03-24 06:36] ahadtechcarrot commented on #37
@vokecodes Thank you for your response. Can you let me know the keys which will be used from google-services.json in these strings element in the place of *** as  I am not aware of all the keys in the above answer?

[2022-03-24 06:43] riskpp commented on #37
Hi @ahadtechcarrot  you can find this information here - https://developers.google.com/android/guides/google-services-plugin

[2022-03-24 06:46] riskpp commented on #38
Hi @vokecodes, looks like you are trying to use type script, unfortunately it's not supported in the plugin yet. But we have it on the feature list.

[2022-03-24 07:55] vokecodes commented on #38
Hi @riskpp, not sure why it's looking for TypeScript. I've been able to have the chat display but it keeps loading displaying an unending activity indicator.

[2022-03-24 08:09] ahadtechcarrot commented on #37
Thank you @riskpp but I am facing errors in both the scenarios now :

Scenario 1 : removing `apply plugin: 'com.google.gms.google-services'` and adding all the values in strings.xml I am getting the error message :

[code]

Scenarios 2 : Using `apply plugin: 'com.google.gms.google-services'`

`Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.firebase.iid.FirebaseInstanceI

[2022-03-24 08:29] riskpp commented on #37
@ahadtechcarrot could you pls check compileSdkVersion, targetSdkVersion on your build.gradle, and which version of `com.google.firebase:firebase-messaging` are you using?
I could only guess that you probably have compileSdkVersion or targetSdkVersion = 31 or using newer version of `com.google.firebase:firebase-messaging`, installed by some other plugin.
If it's the case: we've updated Android SDK

[2022-03-24 08:38] ahadtechcarrot commented on #37
@riskpp I am using react-native third party plugins for firebase :

[code]
I have no setup done for firebase-messaging as there is no mention of that in your documentation and the above firebase libraries we are using already before this infobip setup. Also, please find my configurations in build.gradle file :

[code]

[2022-03-24 09:06] vokecodes opened #40 "Plugin installation error from react@"17.0.1""
Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^17.0.2" from infobip-mobile-messaging-react-native-plugin@5.0.1
npm ERR! node_modules/infobip-mobile-messaging-react-native-plugin
npm ERR!   infobip-mobile-messaging-react-native-plugin@"^5.0.1" from the root project
npm ERR!
npm ERR

[2022-03-24 09:59] vokecodes commented on #40
Installing the latest version and updating the package-lock.json fixed this error.

[2022-03-24 09:59] #40 closed

[2022-03-24 11:54] ahadtechcarrot commented on #37
@riskpp please let me know if I am missing out on something for Android for Version 5.0.1. As per the documentation in GitHub, I have only written the key/value pairs in the strings.xml file and updated the .bash_rc file.

[2022-03-25 09:27] riskpp commented on #38
Hi @vokecodes,
1. we have an example with button which opens in-app chat, you can setup it for your credentials by going step by step - [How to start Example app](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/How-to-start-Example-app).
2. would be great to see full log from android application run (if you could run it via android studio it'll be available)
3. Please check th

[2022-03-25 15:02] vokecodes commented on #38
Hi @riskpp,

1. I tried it and it worked.
2.
[code]

3. Yes

[2022-03-25 15:15] vokecodes commented on #38
[code]

[2022-03-25 15:37] riskpp commented on #38
Great that Example is working, then you could probably check what's the difference between approach within your app and the example.
Unfortunately logs aren't helpful, I thought to see there some logs from our MobileMessaging SDK, unfortunately - nothing is there. If you logs contains sensitive information better to send it to [support@infobip.com](mailto:support@infobip.com) with link to the gith

[2022-03-25 16:12] vokecodes commented on #38
Here's my code to initialize the SDK which is not different from the example app

[code]

[2022-03-27 14:56] kostap13 commented on #39
Hi @ahadtechcarrot

Previously we had similar issue at flutter plugin.
Idea of solution was to use apply plugin: 'com.google.gms.google-services'

Sample PR for flutter you can find here:  https://github.com/infobip/mobile-messaging-flutter-plugin/pull/4/files#diff-39ab2ed24002fb8e39b9db8ebac35907f77395dbc3c2faf95e6e6b6805e0b9ceR59

Take a look at [android/app/build.gradle](https://github.com/info

[2022-03-28 09:48] riskpp commented on #38
Hi @vokecodes, we already checked your code snippet and can't reproduce your issue.
Could you please provide minimal example, better to the [support@infobip.com](mailto:support@infobip.com) with link to this github issue for reference, it'll help us to reproduce your issue and investigate it faster.

BR, Olga

[2022-03-30 13:11] #39 closed

[2022-04-07 17:53] tjuric commented on #37
Just to have a follow-up here as well,
@ahadtechcarrot your issue has been moved to a new thread https://github.com/infobip/mobile-messaging-react-native-plugin/issues/39 and solved.

[2022-04-12 13:24] batcodegen commented on #38
@vokecodes You need to first initialize mobilemessage at root level
const App = () =>{
      useState(()=>{
         initializeInfofib(infobipCode)
        );
      })
}

then use your code else where
const openChat = () => {
        mobileMessaging.showChat();
    };

[2022-04-25 07:33] #38 closed

[2022-05-17 07:47] vokecodes opened #43 "TypeError: Cannot read property 'deleteAll' of undefined"
Below code results in a promise rejection with the error `TypeError: Cannot read property 'deleteAll' of undefined`

[code]

[2022-05-17 10:11] vokecodes commented on #43
I added this line of code to the initialization `defaultMessageStorage: true`. I didn't get the error but messages didn't get deleted.

[2022-05-17 11:19] riskpp commented on #43
Hi @vokecodes, I suppose plugin version you are using is 5.0.1? Could you may be share logs and which platform are you testing?

[2022-05-17 11:34] vokecodes commented on #43
@riskpp Yes, 5.0.1. Testing on Android. Shared logs via mail.

[2022-05-18 08:42] riskpp commented on #43
Hi @vokecodes, from my side everything looks fine.
You can check may be you've missed something from the [Default message storage doc](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Message-storage#default-message-storage).

 I've just implemented following in [Example app](https://github.com/infobip/mobile-messaging-react-native-plugin/tree/master/Example)
Don't forget to ad

[2022-05-18 09:31] riskpp commented on #43
Check the format of the number it should correspond to https://en.wikipedia.org/wiki/E.164, more information also [here](https://www.infobip.com/docs/sms/deliverability#number-formatting)

[2022-05-18 09:38] vokecodes commented on #43
Yes, I formatted it
` Invalid phone number: 270999999913 (number does not have valid country/network prefix)`

[2022-05-19 09:08] riskpp commented on #43
Hi @vokecodes, could you check the number one more time, it doesn't look valid per this rules - https://en.wikipedia.org/wiki/E.164

[2022-05-19 12:12] vokecodes commented on #43
I used a random test number but need to use a real phone number.

[2022-05-19 12:12] #43 closed

[2022-06-01 10:18] ahadtechcarrot opened #44 "Unable to get App Icon on Notifications in Android"
Hi,

I am unable to receive App icon on Notifications, it is just displaying the default square icon. I am sharing the code snippet and other informations for more details.

Versions :
`
"react-native": "0.63.3",
"infobip-mobile-messaging-react-native-plugin": "^5.0.1"
`

I am using this code for icon in AndroidManifest.xml :

`
<meta-data android:name="com.google.firebase.messaging.default_notifi

[2022-06-08 11:49] batcodegen opened #45 "Clash with other library - react-native-image-crop-picker"
## Issue

Adding [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) library along with this library causes crop picker to stop working.

After installation of the Infobip plugin we are unable to open the image picker and are faced with the following error in XCode :
_[ChangeHandling] API misuse: pauseChangeHandling called when changeHandlingContainer is nil

[2022-06-08 16:57] tjuric commented on #45
Hi @batcodegen,

We haven't checked compatibility of our plugin with that library and we didn't have it in the plan yet. We'll be able to test it by the end of June and get back to you with more details after that.

Thanks a lot for providing all the necessary details for us.

BR,
Tereza

[2022-06-14 09:41] ahadtechcarrot opened #46 "Runtime Crash on Android Release Build"
Hi,

I am using :

`
"infobip-mobile-messaging-react-native-plugin": "6.1.0",
"react-native": "0.63.3",
"react": "16.13.1"
`
In Debug the application is running fine and I am able to fetch notifications. But wheneve I am creating release builds, then after opening the release app it will immediately crash and I found the error log below for that :

`
    --------- beginning of crash
2022-06-14 13:

[2022-06-14 17:45] riskpp commented on #45
Great, closing the issue

[2022-06-14 17:45] #45 closed

[2022-06-16 09:51] riskpp commented on #46
Hello @ahadtechcarrot seems the `proguard-rules` is the reason of this error, somehow rules from the plugin weren't applied to the build.
As a workaround you can copy-paste following proguard-rules to your file `android/app/proguard-rules.pro`:
[code]

[2022-06-17 12:47] riskpp commented on #46
@ahadtechcarrot how is it going? Did you manage to have it fixed?

[2022-06-20 13:13] ahadtechcarrot commented on #46
@riskpp Sorry for my late response. I will try to use the proguard-rules and will let your know if it is working for me or not.

[2022-06-24 12:03] tjuric commented on #46
Any updates from your side, @ahadtechcarrot?

[2022-06-24 12:05] tjuric commented on #31
Hi @irbisdev,
We have provided Typescript definitions in release version 6.1.0 around a month ago, release notes: https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/6.1.0.

I'm closing this issue. Feel free to open a new one if you notice any bugs.

BR,
Tereza

[2022-06-24 12:07] tjuric commented on #36
Hi @agupta-avenir,
We didn't manage to respond to you in time. Did you manage to update your app with latest RN versions? Is this issue still ongoing?

BR,
Tereza

[2022-07-05 06:42] imkrishh opened #47 "Push notifications not receiving"
Hi,

I migrated mobile-messaging-react-native-plugin to the latest version(6.3.3) that got released recently.

[code]

system logs
---
`MobileMessaging started`

Tested all types of push notifications on both Android and iOS but none of the Notifications are getting received in the mobile App.

React-Native :- 0.65.1
Android :- 11,12
iOS :- 14,15
mobile-messaging-react-native-plugin :-  6.3.3

[2022-07-05 08:08] riskpp commented on #47
Hi @imkrishh, I guess you provided real application code instead of `'<your app code>'`?
Could you please share with us android and iOS logs (RN logs isn't enough for investigation the issue), to set logging for iOS you need to put [logging: true](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/Example/App.js#L98) to the configuration.
Also please describe how are you s

[2022-07-05 08:16] riskpp commented on #47
Then we need what I asked previously (logs and etc.)
Have you check the [Migration guides](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Migration-guides)?

[2022-07-05 10:21] imkrishh opened #48 "Runtime crash - React Native Huawei"
React Native Infobip for Huawei app crashes in release build after update of `mobile-messaging-react-native-plugin v6.3.3`

`mobile-messaging-sdk-huawei v2.2.3`

[code]

React Native - 0.65.1

[2022-07-05 10:24] riskpp commented on #48
Hi @imkrishh, we support only iOS and Android platforms for React Native right now.
And we've released update for mobile-messaging-sdk-huawei with support of AndroidX - https://github.com/infobip/mobile-messaging-sdk-huawei/releases/tag/3.0.0-rc1, but I'm not sure how do you plan to use it together..

[2022-07-05 13:29] imkrishh commented on #47
This is the error we are getting when trying to send push notifications from infobip portal.

Below added the logs from iOS when set `logging: true`

[code]

[2022-07-06 05:37] quantumarun commented on #48
@riskpp  We currently have the native code for Infobip Huawei Implementation which was done in collaboration with Infobip Team somewhere around 2019. Now this is causing issue in upgrading the Infobip version. How can we take this forward.

[2022-07-06 07:57] #48 closed

[2022-07-06 08:23] riskpp commented on #47
Hi @imkrishh, we need more info, could you please provide pushRegistrationId on which you are trying to send a notification via [support@infobip.com](mailto:support@infobip.com) and put a link to this issue on github.

[2022-07-13 09:50] #47 closed

[2022-07-19 18:19] flavio-dias-mm opened #49 "Runtime Crash on Android Prod Releases"
Hello there!
We are getting the following error about 30 times a day, according to Firebase Crashlytics in our project:

And the cause is supposedly at:

At the starting of the app we are calling mobileMessaging.register, and as a callback on unmounting the app, we're calling mobileMessaging.unregister, where i believe the problem is occurring, but it does not make sense since the register did ok.

[2022-07-21 11:12] riskpp commented on #49
Hello @flavio-dias-mm, thank you for the detailed description. We will be able to check it next week

[2022-07-22 13:24] LFMAKER commented on #49
@riskpp Same here, I'm having about 95 errors a day.

`java.lang.RuntimeException:
  at android.app.ActivityThread.performDestroyActivity (ActivityThread.java:5686)
  at android.app.ActivityThread.handleDestroyActivity (ActivityThread.java:5731)
  at android.app.servertransaction.DestroyActivityItem.execute (DestroyActivityItem.java:44)
  at android.app.servertransaction.TransactionExecutor.execut

[2022-07-27 07:00] riskpp commented on #49
Hi @flavio-dias-mm, @LFMAKER , I started checking this issue, however it looks weird because we check was broadcastReceiver registered or not before unregistering it, and mobileMessaging.register/unregister aren't connected with android broadcastReceivers.
May be you have other errors in the log for starting the plugin, are you able to receive any events from mobileMessaging?

Will try to reproduc

[2022-07-27 11:27] flavio-dias-mm commented on #49
Thanks for the reply, thats in fact weird, i'll be looking this up today and come back here with news

[2022-07-27 13:54] riskpp commented on #49
I can't reproduce the issue, but noticed that you are using old methods instead of register/unregister following API should be used:

- [subscribe](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/index.js#L113)
- [unsubscribe](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/index.js#L123)

Anyway going to release version with catching Illegal

[2022-07-27 14:26] flavio-dias-mm commented on #49
Ohh, i'll change for the correct methods then, anyway, thanks for the help and i'm waiting for that release!

[2022-07-27 17:17] riskpp commented on #49
It was released already https://github.com/infobip/mobile-messaging-react-native-plugin/releases/tag/6.3.4

[2022-07-27 17:20] flavio-dias-mm commented on #49
Nice, i'll update my package and apply those methods changes, and keep an eye on the crashlytics issue, since me as well wasnt able to reproduce the crash. Thank you very much for the attention!

[2022-07-29 13:43] flavio-dias-mm commented on #49
Hello again, in terms of JS i could apply changes without problem, yet, on upgrading from 6.0.0 to 6.3.4, i could not build to ios successfully anymore. Looked the internet for any similar cases and couldnt find anything usefull. So here i am again.
Following you documentation i checked all requirements, we're trying to upgrade your lib in one branch as follows:
react native: 0.68
node: 16
ruby: 2

[2022-08-01 15:48] riskpp commented on #49
Hello @flavio-dias-mm , could you try may be to do `pod deintegrate && pod update` commands.

I've found something similar here - https://github.com/facebook/react-native/issues/28777#issuecomment-835345857

[2022-08-02 11:19] flavio-dias-mm commented on #49
@riskpp sadly I already tried all that even before coming here again ):
We decided then to try the solution only changing our javascript methods and adding the subscribe method on the callback of init, assuring it wont be called before the initialization is done. Which kinda makes sense for me.
This will soon be release on prod and we will keep tracking that error of when i opened the issue, hopef

[2022-08-02 11:19] #49 closed

[2022-08-19 09:55] imkrishh opened #50 "Runtime exception for Android OS v12+"
neact native infobip runtime crash on Android

`infobip-mobile-messaging-react-native-plugin` -> v6.3.3
`react-native` -> v0.65.1
`compileSdkVersion` ->  31
`targetSdkVersion` ->  31

Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable, e.g. if it needs to be used with inline replies or bubbles.
       at android.app.Pendin

[2022-08-22 10:49] riskpp commented on #50
Hi @imkrishh, could you please describe which notification are you tapping while receiving this crash? Does it contain browserUrl, webViewUrl or Deeplink?
It sounds weird because PendingIntent always contains flag "FLAG_MUTABLE"

[2022-08-22 11:50] rohitsurawat commented on #50
@riskpp  this issue is fatal because i am also facing this issue
org.infobip.mobile.messaging.notification.BaseNotificationHandler.createTapPendingIntent
I have one application which is live and we are getting 95% of customer unable to start the application please help here @riskpp

[2022-08-22 12:01] tjuric commented on #50
@rohitsurawat and @imkrishh, please describe your exact use cases which are producing this behaviour. Which payload does notification contain? Do you use any of: browserUrl, webViewUrl or deeplink?

[2022-08-23 05:10] rohitsurawat commented on #50
@tjuric  @riskpp
**Strongly consider using FLAG_IMMUTABLE,** only **use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable,** e.g. if it needs to be used with inline replies or bubbles.

If you read the stack trace it is clearly stating that while passing the flag Strongly Consider FLAG_IMMUTABLE , only use FLAG_MUTABLE in case if your notification have reply or bubble f

[2022-08-25 04:14] rohitsurawat commented on #50
@riskpp  @tjuric  any solution here
We are waiting for your response

[2022-08-25 12:46] rohitsurawat commented on #50
@tjuric @riskpp  any update

[2022-08-29 10:07] riskpp commented on #50
So I've tested it with "WEB_VIEW_URL" (on the tap webView is opening) on Android 12 emulator (31 API) and I can't reproduce any crashes. If talking about newer Android versions, we don't support them for now, but have tasks for that in our backlog and will work on it soon. We will include the possible update for the flag FLAG_MUTABLE to the FLAG_IMMUTABLE, for the cases when push notification does

[2022-08-29 10:12] riskpp commented on #50
Actually you may try to update react native at least to the 0.68 (I was testing on this) as far as I can see on the documentation, RN started to support 31st Android API from 0.68 version.

[2022-08-30 11:15] rohitsurawat commented on #50
@riskpp  We were facing huge volume of crashes due to notifications  generated from Infobip Portal so 4 days ago we decide to stop delivery of notification, Since than we have faced 111 crashes in production. And from our testing we came to conclusion that code crash at the time notification is created in Android 12 or Higher mobile. So user will no experience any thing. But our business is impact

[2022-09-01 05:04] rohitsurawat commented on #50
@riskpp  We have sent email regarding payload and campaign id please check with infobip support team. However we were not able to extract payload or campaign id from portal please provide us clear guide how to extract this info if possible then please respond via email only

[2022-09-12 05:57] rohitsurawat commented on #50
Hi @riskpp  @tjuric @mstipanov

As suggested by @riskpp  we upgraded the versions.

react native : 0.68.3

Infobip version right now is :
infobip-mobile-messaging-react-native-plugin: ^6.3.4

But still same crash we shared earlier is coming.
Please help us otherwise we are afraid don't have any other option than dropping your service and choose some other service.

[2022-09-12 08:12] riskpp commented on #50
Hi @quantumarun, @rohitsurawat,
Sorry for the delay, we've sent an answer by the e-mail, just to have a followup here:

We’ve check the setup with test application similar to yours and can’t reproduce the issue anyhow. Also we’ve checked your campaign by the provided id and found that you probably have installation of the apps, to which you’ve send the push notifications with version of the react-

[2022-09-24 12:58] bruhmamba opened #51 "The following build commands failed:"
CpResource /Users/xxx/Downloads/app/src/assets/fonts/reost-semibold.otf /Users/xxx/Library/Developer/Xcode/DerivedData/travel-dftjgjmdydcfaihhcfrbcmcfwzzp/Build/Products/Debug-iphonesimulator/travel.app/reost-semibold.otf
        CpResource /Users/xxx/Downloads/react-native-travel-app-main/src/assets/fonts/reost-medium.otf /Users/xxx/Library/Developer/Xcode/DerivedData/travel-dftjgjmdydcfaihhcfrbc

[2022-09-27 06:51] riskpp commented on #51
Hi @bruhmamba, looks like it's some files with custom fonts. It's not connected to the mobile-messaging plugin, it doesn't use any files like this.

[2022-09-27 06:52] riskpp commented on #46
closing the issue because we didn't receive any response

[2022-09-27 06:52] #46 closed

[2022-09-27 06:53] riskpp commented on #36
closing the issue because we didn't receive any response for a long time

[2022-09-27 06:53] #36 closed

[2022-09-30 10:30] #51 closed

[2022-10-03 05:28] RushikeshFIS opened #52 "Does infobip/mobile-messaging-react-native-plugin supports react-native 0.70 version?"

[2022-10-24 00:18] imorakzai commented on #15
The following build commands failed:
        CompileC /Users/ismail/Library/Developer/Xcode/DerivedData/metahub-gxbnqiuonnykhhfwcedxucjcwdpa/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/RCT-Folly.build/Objects-normal/x86_64/TimeoutManager.o /Users/ismail/Dropbox/My\ Mac\ (Muhammad’s\ MacBook\ Pro)/Desktop/clones/metahub/ios/Pods/RCT-Folly/folly/io/async/TimeoutManager.cpp normal x8

[2022-10-24 07:13] riskpp commented on #15
Hi @imorakzai , it looks not related to MobileMessaging plugin, but just in case it could be useful for you, currently usage without `use_frameworks!` is available - [Migration guide](https://github.com/infobip/mobile-messaging-react-native-plugin/wiki/Migration-guides#migration-from-610-to-620-in-case-you-are-getting-rid-of-use_frameworks-in-the-podfile), you could try without it if not yet

[2022-11-28 12:52] EZarkhin commented on #52
Hello, does it not supported at all on both platforms?
We got our app on 0.70.3 and Android is working fine, while the iOS ChatScreen component shows a "No connection" banner at the top, and input is disabled

[2022-11-28 14:41] riskpp commented on #52
hi @EZarkhin could be that the problem isn't connected with the plugin version, please check that iOS registration went successfully (you got push registration id and doesn't have any error logs in the console)
For enabling logging on iOS setup logging:true in the configuration - as in the [example](https://github.com/infobip/mobile-messaging-react-native-plugin/blob/master/Example/App.js#L98)

[2022-11-28 15:49] EZarkhin commented on #52
@riskpp I got no errors in logs as far as I can see and pushRegistrationId is present in the Installation object

[2022-11-29 08:34] EZarkhin commented on #52
@riskpp Thank you!
There was my bad, all is working fine.